.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 2rem;
    margin-bottom: 2.75rem;
}

.recipes img {
    height: 275px;
    object-fit: var(--image-content);
    width: var(--content-width);
}

.recipe {
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px 0px;
    transition: var(--transition-time);
}

.recipe:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.recipe-details {
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    justify-content: space-between;
    margin-bottom: 1.6rem;
    margin-top: 1.4rem;
}

.recipe-info {
    background: var(--unset-color);
    margin-top: -24px;
    padding: 2.5rem 1.5rem 2rem;
}

.recipe-info a {
    color: var(--content-color);
}

.info {
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    justify-content: space-between;
    margin-top: .25rem;
}

.cta {
    background: var(--cta-color);
    color: var(--unset-color) !important;
    cursor: var(--cursor-design);
    padding: var(--default-space);
    text-align: var(--content-layout);
    transition: var(--transition-time);
    display: inline-block;
    margin-top: var(--default-space);
    width: var(--content-width);
}
  
.cta:hover {
    background: var(--button-hover);
}

/* SEARCHBAR */
.search-field {
    background: #c1efc2;
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    padding: 2rem;
}

input[type=search] {
    background: var(--unset-color);
    border: var(--unset);
    color: var(--content-color);
    font-family: var(--input-text);
    font-size: var(--input-text);
    height: var(--search-bar);
    margin: var(--unset);
    padding: 0 20px;
    width: var(--content-width);
}

/* Search button */
.search-btn {
    border: var(--default-text);
    cursor: var(--cursor-design);
    margin: var(--unset);
    padding: 0 20px;
    color: var(--unset-color);
    background: #06a56b;
    font-size: var(--paragraph-height);
    font-weight: bold;
    transition: var(--transition-time);
    width: 70px;
    height: var(--search-bar);
    white-space: nowrap;
}

.search-btn:hover {
    background: var(--button-hover);
}

/* Search results ~ back button */
.back-btn {
    display: var(--default-text);
    margin-bottom: 2.5rem;
    margin-top: var(--subheading-space);
  }

.back-btn a {
    color: #018354;
    font-weight: bold;
}

.back-btn a:hover {
    text-decoration: var(--link-hover);
}

/* Category selector */
.categories {
    color: var(--input-text);
    display: var(--default-layout);
    flex-wrap: wrap;
    gap: var(--default-space);
    margin-bottom: 2rem;
}
  
.categories button {
    background: #007a4e;
    border: var(--default-text);
    color: var(--unset-color);
    cursor: var(--cursor-design);
    font-family: var(--input-text);
    font-size: 16px;
    padding: .5rem 1.075rem;
    transition: var(--transition-time);
}
  
.categories button:focus, .categories button:hover {
    background: var(--button-hover);
}

/* SUBSCRIPTION FIELD */
.sub-form {
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    margin-top: 2.5rem;
}

.sub-form input {
    border: var(--default-text);
    font-family: var(--input-text);
    padding: var(--default-space);
    width: 250px;
}

.subscribe-field {
    background: #def1df;
    display: var(--default-layout);
    flex-direction: var(--column-layout);
    align-items: var(--content-layout);
    justify-content: var(--content-layout);
    padding: 4.25rem 1.75rem 6.5rem;
    text-align: var(--content-layout);
}
  
.subscribe-field h2 {
    margin-bottom: .5rem;
}
  
.subscribe-field p {
    margin-top: var(--default-space);
}

/* Subscription button */
.sub-btn {
    background: var(--cta-color);
    border: var(--default-text);
    color: var(--unset-color);
    cursor: var(--cursor-design);
    font-family: var(--input-text);
    font-size: 14px;
    letter-spacing: 1px;
    height: 48px;
    padding: .5rem .75rem;
    text-transform: uppercase;
    transition: var(--transition-time);
    width: 120px;
}
  
.sub-btn:hover {
    background: var(--button-hover);
}

/* Subscription confirmation */
.confirmation p {
    line-height: 14px;
}

.arrow-down {
    margin: 0 auto -3.5rem;
}

@media only screen and (max-width: 600px) {
    .categories button {
        width: var(--content-width);
    }
    .sub-form {
        flex-direction: var(--column-layout) !important;
        gap: 10px;
        margin-top: 2.5rem;
    }
    .sub-form, input, .sub-btn {
        width: var(--content-width) !important;
    }
    .sub-btn {
        height: 50px;
        margin-top: var(--default-space);
    }
    #subscribed {
        width: var(--content-width);
    }
}
