.error-message {
    background: #ffb8b8;
    border: 1px solid #ff4949;
    color: #ef0000;
    padding: var(--default-space);
}

.sub-error {
    display: none;
    color: #c30c0c;
    border: 1px solid #c30c0c;
    background: #ffdada;
    font-size: 0.9rem;
    margin: 1rem 0 -3rem;
    padding: 5px;
    text-align: left;
}

.confirmation {
    margin-top: 2rem;
    background: #21b37e;
    padding: .5rem 1rem 2rem 1rem;
    color: white;
}

.confirmation p {
  line-height: 14px;
}

.arrow-down {
  width: var(--unset);
  height: var(--unset);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #21b37e;
  margin: 0 auto -3.5rem;
}

@media only screen and (max-width: 600px) {
    .sub-error {
        margin: 1rem 0 0;
    }
}
