footer {
    align-items: var(--content-layout);
    background: var(--primary-color);
    color: var(--unset-color);
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    font-size: 12px;
    line-height: var(--paragraph-height);
    justify-content: space-between;
    flex-shrink: var(--unset);
    padding: 3.2rem 1.5rem;
}

footer i {
    font-size: var(--paragraph-height);
}

footer #links {
    cursor: var(--cursor-design);
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    gap: var(--paragraph-height);
}

#links i {
    transition: var(--transition-time);
}

.top-btn i {
    color: var(--unset-color);
    font-size: 36px;
    transition: var(--transition-time);
}

.top-btn i:hover, #links i:hover {
    color: #def1df; 
}

.wrapper {
    flex: 1 0 auto;
}

@media only screen and (max-width: 1024px) {
    footer {
        flex-direction: var(--column-layout);
        gap: 50px;
        text-align: var(--content-layout);
    }
    #copyright {
        order: 3;
    }
    #links {
        order: 2;
    }
}
