footer {
    align-items: center;
    background: #007a4e;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 20px;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 3.2rem 1.5rem;
}

footer i {
    font-size: 26px;
}

footer #links {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#links i {
    transition: .5s;
}

.top-btn i {
    color: white;
    font-size: 36px;
    transition: .5s;
}

.top-btn i:hover, #links i:hover {
    color: #ee911f; 
}

.wrapper {
    flex: 1 0 auto;
}

@media only screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    #copyright {
        order: 3;
    }
    #links {
        order: 2;
    }
}
