footer {
    align-items: center;
    background: #001e1b;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 20px;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 3.2rem 1.5rem;
}

footer i {
    font-size: 26px;
}

footer #links {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.top-btn {
    background: #e86007;
    color: #352711;
    border-radius: 10px;
    padding: .75rem;
}

.wrapper {
    flex: 1 0 auto;
}

@media only screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .footer:first-child {
        order: 2;
    }
}
