@font-face {
    font-family: 'Apricot';
    src: url(../../fonts/Apricot.otf) format("opentype");
}

.header-banner {
    background-color: #c1efc2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    width: 100%;
}

.header-content {
    padding-top: var(--default-space);
    text-align: center;
}

.header-content h1 {
    color: #038C5A;
    font-family: 'Averta-Regular';
    font-size: 28px;
    text-transform: capitalize;
}

.header-content span {
    color: #038C5A;
    font-size: 20px;
}

.header-content hr {
    margin-top: .25rem;
}

hr {
    border: none;
}

hr:after {
    color: #038C5A;
    content: '∿∿∿∿∿∿∿∿∿∿';
    letter-spacing: -4.5px;
    font-size: 30px;
}

@media screen and (min-width: 991px) {
    .header-banner {
        height: 340px;
    }
    .header-content {
        padding-top: 4rem;
    }
    .header-content h1 {
        font-size: 50px;
    }
    .header-content span {
        font-size: 25px;
    }
    .header-content hr {
        margin-top: var(--default-space);
    }
    hr:after{
        content: '∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿';
    }
}
