.home-content {
  padding: 1.5rem 1.4rem 3rem;
}

#container {
    display: flex;
    flex-direction: row;
    height: 60px;
}
  
input[type=search] {  
    width: 100%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
}
  
  input[type=search] {
    margin: 0;
    padding: 0 20px;
    background-color: #f8f8f8;
    border: 0;
    height: 60px;
  }
  
  button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    background-color: #f58712;
    font-size: 24px;
    font-weight: bold;
    width: 70px;
    white-space: nowrap;
  }

  #slider-container {
    height: 450px;
    background: #54d5e4;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid pink;
    border-top: 8px solid pink;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
    z-index: 9999;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 93%;
    margin: auto 10px;
    background-color: #a847a4;
    display: grid;
    place-items: center;
  }

  #slider-container #slider .slide .span {
    background-color: rgba(255, 187, 0, 0.75);
    color: white;
    padding: 2rem;
    position: relative;
    bottom: 235px;
  }

  .slide img {
    width: 100%;
    height: 403px;
    object-fit: cover;
}

  
  @media only screen and (min-width: 1280px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1280px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 991px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 600px) {

    #slider-container {
      height: 350px;
    }

    #slider-container #slider .slide {
      height: 75%;
    }

    #slider-container #slider {
      height: 35%;
    }
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }

    #slider-container #slider {
      width: 1200%;
    }

    .slide img {
      height: 300px;
  }

  #slider-container #slider .slide .span {
    bottom: 210px;
  }
  
  }

  /* 
  .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 7rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  */

  .subscribe-field {
    background: #f5a012;
    color: white;
    font-size: 0.75rem;
    padding: .6rem 1.4rem;
}
