.home-content {
  padding: 1.5rem 1.4rem 2rem;
}

#container {
    display: flex;
    flex-direction: row;
    height: 60px;
}
  
input[type=search] {  
    width: 100%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
}
  
  input[type=search] {
    margin: 0;
    padding: 0 20px;
    background-color: #f8f8f8;
    border: 0;
    height: 60px;
  }
  
  .button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    background-color: #f58712;
    font-size: 24px;
    font-weight: bold;
    width: 70px;
    white-space: nowrap;
  }

  .loader {
    animation: spin 2s linear infinite;
    border: 15px solid #ffe7bb;
    border-radius: 50%;
    border-top: 15px solid #e86007;
    height: 76px;
    margin: 0 auto;
    width: 75px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* */
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;
}

.recipes img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.recipe {
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px 0px;
  transition: .5s;
}

.recipe:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.25);
}

.recipe-info {
    background: #fff1cb;
    margin-top: -5px;
    padding: 1rem;
}

.recipe-info a {
      color: #352711;
}

.recipe-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    margin-top: 1.4rem;
}

.cta-btn {
    background: #ee911f;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    transition: .5s;
}

.cta-btn:hover {
  background: #e86007;
}

.cta-btn a {
    color: white;
}

  @media only screen and (max-width: 600px) {
    .heading {
      align-items: unset !important;
      flex-direction: column !important;
    }
    
    .select {
      margin-bottom: 2.5rem;
      width: 100% !important;
    }
    
    .sub-form {
    flex-direction: column !important;
    gap: 10px;
    margin-top: 2.5rem;
}
.sub-form, input, .sub-btn {
  width: 100% !important;
}
.sub-btn {
height: 50px;
margin-top: 1rem;
}
#subscribed {
  width: 100%;
}
.categories {
  flex-direction: column;
}
  }

.btn i {
    font-size: 35px;
    position: absolute;
    top: calc(50% - 0px);
    left: 6px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .25rem;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.categories {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.categories button {
  background: #F2C36B;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: .5rem 1rem;
  transition: .5s;
}

.categories button:hover {
  background: #ee911f;
}

.categories button:focus {
  background: #e86007;
  color: white;
}

.subscribe-field {
  background: #F2C36B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.75rem 5.25rem;
  text-align: center;
}

.subscribe-field h2 {
  margin-bottom: .5rem;
}

.subscribe-field p {
  margin-top: 1rem;
}

b {
  text-decoration: underline;
}

.sub-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 2.5rem;
}

.sub-form input {
    border: none;
    font-family: inherit;
    padding: 1rem;
    width: 250px;
}

.sub-btn {
  background: #ee911f;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 48px;
  padding: .5rem .75rem;
  text-transform: uppercase;
  width: 120px;
}
