.home-content {
  padding: 1.5rem 1.4rem 3rem;
}

#container {
    display: flex;
    flex-direction: row;
    height: 60px;
}
  
input[type=search] {  
    width: 100%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
}
  
  input[type=search] {
    margin: 0;
    padding: 0 20px;
    background-color: #f8f8f8;
    border: 0;
    height: 60px;
  }
  
  button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    background-color: #f58712;
    font-size: 24px;
    font-weight: bold;
    width: 70px;
    white-space: nowrap;
  }

  #slider-container {
    height: 440px;
    background: white;
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
  }
  
  #slider-container .btn {
    cursor: pointer;
    position: absolute;
    top: calc(9% - 20px);
    height: 91%;
    width: 30px;
    background: #ee911f;
    z-index: 1;
    transition: .5s;
  }
  
  #slider-container .btn:hover {
    background: #e86007;
  }
  
  #slider-container .btn.inactive {
      background-color: #cccccc;
      color: #666666;
      cursor: unset;
  }
  
  #slider-container .btn:first-of-type {
    left: 0;
  }
  
  #slider-container .btn:last-of-type {
    right: 0;
    z-index: 9999;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    cursor: pointer;
    height: 91%;
    margin: auto 10px;
    background-color: #a847a4;
    display: grid;
    position: relative;
    transition: .5s;
  }

.slide {
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px 0px;
}

.slide:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

  #slider-container #slider .slide .span {
    background-color: rgb(255 255 255 / 75%);
    color: #352711;
    padding: 1rem 2rem 2rem;
    position: absolute;
    top: 310px;
    width:100%;
    overflow: visible;
  }

  .slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

  
  @media only screen and (min-width: 1280px) {
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  }
  
  @media only screen and (max-width: 1280px) {
    #slider-container .btn {
      top: calc(11% - 20px);
      height: 89.75%;
    }

    #slider-container {
      height: 337px;
    }

    #slider-container #slider .slide {
      height: 90%;
    }
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }

    .slide img {
      height: 303px;
  }

  #slider-container #slider .slide .span {
    top: 213px;
  }
  
  }
  
  @media only screen and (max-width: 1024px) {
    #slider-container .btn {
      top: calc(17% - 43px);
      height: 90.25%;
    }

    #slider-container {
      height: 359px;
    }

    #slider-container #slider .slide {
      height: 90%;
    }
  
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }

    .slide img {
      height: 324px;
  }

  #slider-container #slider .slide .span {
    top: 234px;
  }
  
  }
  
  @media only screen and (max-width: 600px) {
    #slider-container .btn {
      height: 100%;
      top: calc(10% - 35px);
    }

    #slider-container {
      height: 350px;
    }

    #slider-container #slider .slide {
      height: 100%;
    }

    #slider-container #slider {
      height: 35%;
    }
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }

    #slider-container #slider {
      width: 1200%;
    }

    .slide img {
      height: 350px;
  }

  #slider-container #slider .slide .span {
    top: 260px;
  }
  }

  /* 
  .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 7rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  */

.btn i {
    font-size: 35px;
    position: absolute;
    top: calc(50% - 0px);
    left: 6px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .25rem;
}
