.loader {
  animation: spin 2s linear infinite;
  border: 15px solid #a3e6cd;
  border-radius: 50%;
  border-top: 15px solid #06a56b;
  height: 76px;
  margin: var(--center-elements);
  width: 75px;
  -webkit-animation: spin 2s linear infinite; 
}
  
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
