.logo-wrap {
    padding-left: var(--default-space);
    width: 360px;
}

.logo {
    color: var(--unset-color);
    font-family: var(--secondary-font);
    font-size: var(--paragraph-height);
}

/* NAVIGATION BAR */ 
.main-header {
    width: var(--content-width);
    background: var(--primary-color);
}

.menu-wrap {
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    flex-wrap: nowrap;
    justify-content: var(--white-space);
    align-items: var(--content-layout);
    width: var(--content-width);
    margin: auto;
    padding: 30px 20px;
}

/* Mobile menu closed */
.main-nav {
    position: absolute;
    top: var(--unset);
    left: var(--unset);
    width: var(--content-width);
    height: var(--unset);
    transition: height .0s ease-out .4s, opacity .2s ease-out .2s, padding-left .2s ease-in 0s;
    opacity: var(--unset);
    display: var(--default-layout);
    flex-direction: var(--column-layout);
    align-items: var(--content-layout);
    z-index: 400;
    overflow: hidden;
    background-color: var(--unset-color);
    padding-left: var(--content-width);
}

.nav-item {
    display: block;
    padding: 7px 10px;
    margin: 5px auto;
    color: var(--unset-color);
    font-size: 20px;
    width: var(--content-width);
    text-align: var(--content-layout);
    z-index: 100;
}

.nav-item:first-of-type {
    margin-top: 20vh;
}

.nav-item.active {
    font-weight: var(--marked-text);
    text-decoration: var(--default-text) !important;
}

/* Hamburger menu */
.drop-trigger {
    background: transparent;
    border-width: var(--unset);
    height: 35px;
    margin-left: auto;
    position: relative;
    transition: all .1s ease-out 0s;
    width: 50px;
    z-index: 450;
}

/* Hamburger menu bars */
.drop-trigger .btn-bar {
    background: var(--unset-color);
    border-radius: 25px;
    display: block;
    height: 4px;
    left: 50%;
    margin: var(--center-elements);
    position: absolute;
    top: 15%;
    transform: translateX(-50%) translateY(-0%) rotate(-0deg);
    transform-origin: 50% 50%;
    transition: all .4s ease-in 0s;
    width: 60%;
}


.btn-bar.middle {
    top: 50%;
    transform: translateX(-50%)  translateY(-50%) rotate(0deg);
}

.btn-bar.bottom {
    top: calc(80% - 3px);
}

/* Hamburger menu ~ content */
.nav-revert {
    background: var(--primary-color);
    display: block;
    height: var(--content-width);
    left: var(--unset);
    position: absolute;
    top: var(--unset);
    width: var(--content-width);
    z-index: 1;
}

/* Toggle checkbox */
#nav-tog {
    display: var(--default-text);
}

/* Open nav menu on mobile */
#nav-tog:checked ~ .drop-trigger .btn-bar {
    transition-timing-function: ease-out;
}

#nav-tog:checked ~ .drop-trigger .btn-bar {
    background: var(--unset-color);
    top: 50%;
}

#nav-tog:checked ~ .drop-trigger .btn-bar.top {
    transform: translateX(-50%)  translateY(-50%) rotate(-315deg);
}

#nav-tog:checked ~ .drop-trigger .btn-bar.middle {
    transform: translateX(-50%)  translateY(-50%) rotate(-225deg);
}

#nav-tog:checked ~ .drop-trigger .btn-bar.bottom {
    transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}

#nav-tog:checked ~ .main-nav {
    height: 100vh;
    opacity: 1;
    padding-left: var(--unset);
    transition: height .0s ease-in 0s, opacity .2s ease-in 0s, padding-left .23s ease-out .21s;
}

@media screen and (min-width: 991px) {
    .drop-trigger,
    .nav-revert {
        display: var(--default-text);
    }
    .main-nav {
        background: transparent;
        flex-direction: var(--row-layout);
        justify-content: flex-end;
        height: auto;
        opacity: 1;
        padding-left: var(--unset);
        position: relative;
    }
    .nav-item:first-of-type{
        margin-top: var(--unset);
    }
    .nav-item {
        color: var(--unset-color);
        font-size: 18px;
        margin: 0 5px;
        width: auto;
    }
    .nav-item:hover {
        text-decoration: var(--link-hover);
        text-underline-offset: 5px;
    }
}
