@font-face {
    font-family: 'Averta-Regular';
    src: url(../../fonts/Averta-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: 'Apricot';
    src: url(../../fonts/Apricot.otf) format("opentype");
  }

* {
	box-sizing: border-box;
	margin: var(--unset);
	padding: var(--unset);
}

:root {
    /* Color values */
    --background-color: #f8f7f5;
    --content-color: #262626; 
    --unset-color: #ffffff;
    --warning-color: #c30c0c;
    /* Layout variables */
    --column-layout: column;
    --content-layout: center;
    --content-width: 100%;
    --cursor-design: pointer;
    --default-gap: 20px;
    --default-layout: flex;
    --image-content: cover;
    --rounded-image: 150px;
    --row-layout: row;
    --transition-time: .5s; 
    --search-bar: 60px;
    --unset: 0;
    /* Media queries */
    --tablet-portrait: 768px;
    /* Typography settings */
    --default-heading: capitalize;
    --default-margin: 1.5rem;
    --default-text: none;
    --default-space: 1rem;
    --link-hover: underline;
    --input-text: inherit;
    --paragraph-height: 25px;
    --primary-font: 'Averta-Regular'; 
    --secondary-font: 'Apricot';
    --subheading-space: -1rem;
}

html,
body {
    height: var(--content-width);
}

body {
    background: var(--background-color);
    display: var(--default-layout);
    flex-direction: var(--column-layout);
}

html {
    color: var(--content-color);
    font-family: var(--primary-font);
    letter-spacing: 1.25px;
    scroll-behavior: smooth;
}

h1 {
    color: var(--unset-color);
    font-size: var(--paragraph-height);
    font-family: var(--secondary-font);
}

h2 {
    font-size: 35px;
    margin-bottom: 2rem;
}

h3 {
	text-transform: var(--default-heading);
}

a {
    text-decoration: var(--default-text);
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
    }
}
