@font-face {
    font-family: 'Averta-Regular';
    src: url(../../fonts/Averta-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: 'Apricot';
    src: url(../../fonts/Apricot.otf) format("opentype");
  }

* {
	box-sizing: border-box;
	margin: var(--unset);
	padding: var(--unset);
}

:root {
    /* Color values */
    --asset-color: #def1df;
    --background-color: #f8f7f5;
    --button-hover: #000000;
    --content-color: #262626; 
    --cta-color: #097850;
    --error-background: #ffdada;
    --breadcrumb-color: #018354; 
    --primary-color: #063a27;
    --secondary-color: #08764e; 
    --tertiary-color: #c1efc2;
    --success: #21b37e;
    --unset-color: #ffffff;
    --warning-color: #c30c0c;
    /* Layout variables */
    --center-elements: 0 auto;
    --column-layout: column;
    --content-layout: center;
    --content-stocking: wrap;
    --content-width: 100%;
    --cursor-design: pointer;
    --default-gap: 20px;
    --default-layout: flex;
    --image-content: cover;
    --rounded-image: 150px;
    --row-layout: row;
    --transition-time: .5s; 
    --search-bar: 60px;
    --unset: 0;
    --white-space: space-between;
    /* Media queries */
    --tablet-portrait: 768px;
    /* Typography settings */
    --cta-text: uppercase;
    --default-heading: capitalize;
    --default-margin: 1.5rem;
    --default-text: none;
    --default-space: 1rem;
    --link-hover: underline;
    --input-text: inherit;
    --marked-text: bold;
    --paragraph-height: 25px;
    --primary-font: 'Averta-Regular'; 
    --secondary-font: 'Apricot';
    --subheading-space: -1rem;
}

html,
body {
    height: var(--content-width);
}

body {
    background: var(--background-color);
    display: var(--default-layout);
    flex-direction: var(--column-layout);
}

html {
    color: var(--content-color);
    font-family: var(--primary-font);
    letter-spacing: 1.25px;
    scroll-behavior: smooth;
}

h1 {
    color: var(--unset-color);
    font-size: var(--paragraph-height);
    font-family: var(--secondary-font);
}

h2 {
    font-size: 35px;
    margin-bottom: 2rem;
}

h3 {
	text-transform: var(--default-heading);
}

hr {
    border: none;
}

hr:after {
    color: #038C5A;
    content: '∿∿∿∿∿∿∿∿∿∿';
    letter-spacing: -4.5px;
    font-size: 30px;
}

a {
    text-decoration: var(--default-text);
}

b {
    text-decoration: var(--link-hover);
}

.content {
    background: var(--background-color);
    padding: 1.5rem 2rem 2.5rem;
}

.heading {
    align-items: baseline;
    display: var(--default-layout);
    flex-wrap: var(--content-stocking);
    justify-content: var(--white-space);
}
  
::placeholder { 
    color: var(--content-color);
    opacity: 1; 
}

/* ERROR MESSAGES LAYOUT */
.error-message {
    background: var(--error-background);
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
    padding: var(--default-space);
}

/* Contactform input errors */
.contact-error {
    display: var(--default-text);
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    background: var(--error-background);
    margin: -11px 0 10px 0;
    padding: 5px;
}

/* Subscription error */
.sub-error {
    display: var(--default-text);
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    background: var(--error-background);
    font-size: 0.9rem;
    margin: 1rem 0 -3rem;
    padding: 5px;
    text-align: left;
}

/* Recipe warning label */
#warning {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    background: var(--error-background);
    display: var(--default-layout);
    flex-wrap: var(--content-stocking);
}

/* MESSAGE CONFIRMATION LAYOUTS */
.form-confirmation {
    background: var(--success);
    color: var(--unset-color);
    margin-top: 3rem;
    padding: 1.5rem;
}

/* Subscription confirmation */
.confirmation {
    background: var(--success);
    color: var(--unset-color);
    margin-top: 2rem;
    padding: .5rem 1rem 2rem 1rem;
}

/* Decoration design element */
.arrow-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--success);
    height: var(--unset);
    width: var(--unset);
}

/* BREADCRUMB LINKS */
.back-btn {
    display: var(--default-text);
    margin-bottom: 2.5rem;
    margin-top: var(--subheading-space);
  }

.back-btn a {
    color: #018354;
    font-weight: var(--marked-text);
}

.back-btn a:hover {
    text-decoration: var(--link-hover);
}

/* Back to home button */
.home {
    color: var(--breadcrumb-color);
    font-weight: var(--marked-text);
}
  
.link-wrap {
    margin: var(--center-elements) 2rem;
    max-width: 1280px;
}
  
.link-wrap span {
    text-transform: var(--default-heading);
}
  
.link-wrap a:hover {
    text-decoration: var(--link-hover);
}

/* Back home button from contact form */
.back {
    color: #018354;
    display: inline-block;
    font-weight: var(--marked-text);
    margin-top: .75rem;
}
  
.back:hover {
    text-decoration: var(--link-hover);
}

@media (min-width: 1024px) {
    .contact-error {
        margin: -11px 20px 10px 0;
    }
    .form-confirmation {
        margin-top: 2.5rem;
    }
    .sub-error {
        margin: 1rem 0 0;
    }
}

@media screen and (min-width: 991px) {
    hr:after{
        content: '∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿';
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
    }
    .heading {
        align-items: unset !important;
        flex-direction: var(--column-layout) !important;
    }
}
