@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/layout.css";
@import "../imports/header.css";
@import "../imports/footer.css";

.content {
    padding: var(--unset);
}

/* ABOUT ~ Intro */
.intro {
    background: #c1efc2;
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    align-items: var(--content-layout);
    justify-content: var(--content-layout);
    gap: 50px;
    padding: 5rem 1.5rem 7.5rem;
}

.intro div {
    max-width: var(--tablet-portrait);
}

.intro p {
    margin-bottom: 1.2rem;
}

.intro img {
    border-radius: var(--content-width);
    height: var(--rounded-image);
    object-fit: var(--image-content);
    width: var(--rounded-image);
}

b, .big-bold {
    text-decoration: var(--default-text);
}

.big-bold {
    font-size: var(--default-gap);
}

/* Content */
.dietary-iconset {
    background: #FBF8F3;
    display: var(--default-layout);
    flex-direction: var(--column-layout);
    align-items: var(--content-layout);
    gap: var(--default-gap);
    justify-content: var(--content-layout);
    padding: 3rem 1.5rem 7.5rem;
}

.dietary-iconset p {
    text-align: var(--content-layout);
}

.dietary-iconset h3 {
    font-size: var(--paragraph-height);
    margin-bottom: var(--subheading-space);
}

.note {
    margin-top: var(--subheading-space);
}

.note b {
    text-decoration: var(--link-hover);
}

.note i {
    color: var(--warning-color);
}

/* About */
.about {
    align-items: var(--content-layout);
    background: #def1df;
    display: var(--default-layout);
    flex-direction: var(--row-layout);
    gap: 45px;
    justify-content: var(--content-layout);
    line-height: var(--paragraph-height);
    padding: 3rem 2rem 5rem;
}

.about div {
    max-width: var(--tablet-portrait);
}

.about h3 {
    margin-bottom: var(--default-margin);
}

.about p {
    margin-top: var(--default-space);
}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: var(--column-layout);
        gap: var(--unset);
        padding-bottom: 2.5rem;
        padding-top: var(--default-margin);
    }
    .dietary-iconset {
        padding-bottom: 4rem;
    }
    .intro {
        flex-direction: var(--column-layout);
        text-align: var(--content-layout);
    }
    .note {
        margin-bottom: var(--default-space);
        margin-top: var(--unset);
    }
}
