@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/layout.css";
@import "../imports/header.css";
@import "../imports/footer.css";

.home-content {
    padding: 0;
}

.intro {
    background: #D7E5DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 5rem 1.5rem 8.75rem;
}

.intro div {
    max-width: 768px;
}

.intro p {
    margin-bottom: 1.2rem;
}

.intro img {
    border-radius: 100%;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

b, .big-bold {
    text-decoration: none;
}

.big-bold {
    font-size: 20px;
}

.dietary-iconset {
    background: #FBF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 2.5rem 1.5rem 7.5rem;
}

h3 {
    font-size: 24px;
    margin-bottom: -1rem;
}
.food-tag {
    padding: .5rem 1rem;
}

#diary-free {
    background: #b5ddff;
}

#gluten-free {
    background: #ffd88e;
}

#low-carb {
    background: #ffc5c5;
}

#vegan {
    background: #618C03;
    color: white;
}

#vegetarian {
    background: #c2c55d;
}

.icon-set {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    margin-top: 2rem;
}

.note {
    margin-top: -1rem;
}

.note b {
    text-decoration: underline;
}

.note i {
    color: #e03d31;
}

@media only screen and (max-width: 768px) {
    .dietary-iconset {
        padding-bottom: 4rem;
    }
    .intro {
        flex-direction: column;
        text-align: center;
    }
    .icon-set {
        flex-direction: column;
        width: 100%;
    }
    .dietary-iconset, .icon-set {
        text-align: center;
    } 
    .note {
        margin-bottom: 1rem;
        margin-top: 0;
    }
}

