@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/layout.css";
@import "../imports/header.css";
@import "../imports/footer.css";

.home-content {
    padding: 0;
}

.intro {
    background: #c1efc2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 5rem 1.5rem 7.5rem;
}

.intro div {
    max-width: 768px;
}

.intro p {
    margin-bottom: 1.2rem;
}

.intro img {
    border-radius: 100%;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

b, .big-bold {
    text-decoration: none;
}

.big-bold {
    font-size: 20px;
}

.dietary-iconset {
    background: #FBF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 3rem 1.5rem 7.5rem;
}

.dietary-iconset p {
    text-align: center;
}

h3 {
    font-size: 24px;
    margin-bottom: -1rem;
}

.note {
    margin-top: -1rem;
}

.note b {
    text-decoration: underline;
}

.note i {
    color: #e03d31;
}

.about {
    align-items: center;
    background: #def1df;
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
    line-height: 25px;
    padding: 3rem 2rem 3rem;
}

.about div {
    max-width: 768px;
}

.about img {
    height: 275px;
    object-fit: cover;
    width: 275px;
}

.about h3 {
    margin-bottom: 1.5rem;
}

.about p {
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        gap: 0;
        padding-bottom: 2.5rem;
        padding-top: 1.5rem;
    }
    .about img {
        height: auto;
        width: 100%;
    }
    .dietary-iconset {
        padding-bottom: 4rem;
    }
    .intro {
        flex-direction: column;
        text-align: center;
    }
    .note {
        margin-bottom: 1rem;
        margin-top: 0;
    }
}
