@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/layout.css";
@import "../imports/footer.css";

.textbox {
  background: #ffe5b4;
  margin: 1rem 0 2rem;
  padding: 1rem 1rem 3rem;
  max-width: 920px;
  line-height: 25px;
}

/* Form validations */
.contact-error {
  display: none;
  color: #e6003d;
  border: 1px solid #e6003d;
  background: rgb(251 128 128 / 10%);
  margin: -11px 0 10px 0;
  padding: 5px;
}

#formMessage {
  margin-top: -1.4rem;
}

.form-confirmation {
  background: rgb(132, 190, 45, 0.75);
  border: 1px solid #629f08;
  color: #001e1b;
  margin-top: 3rem;
  padding: 1rem;
}

/* */
form {
  margin-bottom: 3rem;
  text-align: center;
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  font-family: inherit;
  margin: 10px 0 10px 0;
  padding: 1rem;
}

textarea {
  height: 90%;
  min-height: 100px;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.msg-btn {
  background: #ee911f;
  border: none;
  color: inherit;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  text-transform: uppercase;
  transition: .5s;
  width: 100%;
}
.msg-btn:hover {
  background: #e86007;
  color: white;
}

@media (min-width: 1024px) {
  .form-wrapper {
    flex-direction: row;
  }
  input,
  select,
  textarea {
  margin: 10px 20px 10px 0px;
}
.contact-error {
  margin: -11px 20px 10px 0;
}
.msg-btn {
  width: 300px;
}
.form-confirmation {
  margin-top: 3.5rem;
}
}
