@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/footer.css";

form {
  margin-bottom: 3rem;
  text-align: var(--content-layout);
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  font-family: var(--input-text);
  margin: 10px 0 10px 0;
  padding: var(--default-space);
}

textarea {
  height: 90%;
  min-height: 100px;
}

.textbox {
  background: var(--asset-color);
  color: var(--content-color);
  line-height: var(--paragraph-height);
  margin: 1rem 0 2rem;
  max-width: 900px;
  padding: 1rem 1rem 3rem;
}

/* CONTACT FORM LAYOUT */
.contact {
  margin: 50px auto;
  max-width: 1000px;
  text-align: var(--content-layout);
}

.form-wrapper {
  display: var(--default-layout);
  flex-direction: var(--column-layout);
  text-align: left;
}

.form-wrapper > * {
  display: var(--default-layout);
  flex: 1;
  flex-direction: var(--column-layout);
}

/* Form button */
.msg-btn {
  background: var(--cta-color);
  border: var(--default-text);
  border-radius: var(--unset); 
  color: var(--unset-color);
  cursor: var(--cursor-design);
  height: 75px;
  letter-spacing: 2px;
  margin: 1.5rem 0 0 0;
  padding: var(--default-space);
  text-transform: var(--cta-text);
  transition: var(--transition-time);
  width: var(--content-width);
}

.msg-btn:hover {
  background: var(--button-hover);
}

/* Form validations */
#formMessage {
  margin-top: -1.4rem;
}

/* Back home button */
.back {
  color: #018354;
  display: inline-block;
  font-weight: var(--marked-text);
  margin-top: .75rem;
}

.back:hover {
  text-decoration: var(--link-hover);
}

@media (min-width: 1024px) {
  input,
  select,
  textarea {
    margin: 10px 20px 10px 0px;
  }
  .form-wrapper {
    flex-direction: var(--row-layout);
  }
  .msg-btn {
    width: 300px;
  }
}
