@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/footer.css";

.textbox {
  background: #def1df;
  color: var(--content-color);
  margin: 1rem 0 2rem;
  padding: 1rem 1rem 3rem;
  max-width: 900px;
  line-height: var(--paragraph-height);
}

/* Form validations */
.contact-error {
  display: none;
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
  background: #ffdada;
  margin: -11px 0 10px 0;
  padding: 5px;
}

#formMessage {
  margin-top: -1.4rem;
}

.form-confirmation {
  background: var(--unset-color);
  color: var(--unset-color);
  margin-top: 3rem;
  padding: 1.5rem;
}

/* */
form {
  margin-bottom: 3rem;
  text-align: var(--content-layout);
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  font-family: var(--input-text);
  margin: 10px 0 10px 0;
  padding: var(--default-space);
}

textarea {
  height: 90%;
  min-height: 100px;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: var(--content-layout);
}

.form-wrapper {
  display: var(--default-layout);
  text-align: left;
  flex-direction: var(--column-layout);
}

.form-wrapper > * {
  flex: 1;
  display: var(--default-layout);
  flex-direction: var(--column-layout);
}

.msg-btn {
  background: #097850;
  border: var(--default-text);
  border-radius: var(--unset); 
  color: var(--unset-color);
  cursor: var(--cursor-design);
  height: 75px;
  letter-spacing: 2px;
  margin: 1.5rem 0 0 0;
  padding: var(--default-space);
  text-transform: uppercase;
  transition: var(--transition-time);
  width: var(--content-width);
}

.msg-btn:hover {
  background: var(--button-hover);
}

@media (min-width: 1024px) {
  .form-wrapper {
    flex-direction: var(--row-layout);
  }
  input,
  select,
  textarea {
  margin: 10px 20px 10px 0px;
}
.contact-error {
  margin: -11px 20px 10px 0;
}
.msg-btn {
  width: 300px;
}
.form-confirmation {
  margin-top: 2.5rem;
}
}

.arrow-down {
  width: var(--unset);
  height: var(--unset);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #21b37e;
}

.back {
  color: #018354;
  display: inline-block;
  font-weight: bold;
  margin-top: .75rem;
}

.back:hover {
  text-decoration: var(--link-hover);
}
