@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/layout.css";
@import "../imports/footer.css";

@font-face {
  font-family: 'Averta-Regular';
  src: url(../../fonts/Averta-Regular.otf) format("opentype");
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
  }

  .card h2 {
    font-family: 'Averta-Regular';
      font-size: 24px;
    text-transform: uppercase;
  }

  .card img {
      height: auto;
      object-fit: cover;
  }

  .card p {
  font-size: 15px;
    line-height: 25px;
  margin-bottom: 3rem;
  }

  .card-content {
      background: #FFF1D6;
      padding: 2.5rem 3rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  .tag, .warning {
    padding: .5rem 1rem;
    position: relative;
    top: 10px;
}

.tag {
   background: #ffa700;
   margin-right: 1rem;
}

.warning {
  background: #ffcbc7;
  color: #e03d31;
}

.tag-column {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.food-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 2rem;
}

  @media (max-width: 1069px) {
      .card {
          flex-direction: column;
      }
      .card-content {
        padding: 1.25rem 1.25rem 3rem;
      }
      .card img {
          width: 100%;
      }
      .modal-content {
        width: 100%;
      }
      #myImg {
        opacity: 1 !important;
      }
      .tags {
        flex-direction: column;
        gap: 25px;
    }
    .tag {
      margin-right: 0;
    }
    .food-info {
      font-size: 15px;
  }
  }

  #myImg {
    cursor: pointer;
    opacity: 0.85;
    transition: .5s;
  }
  
  #myImg:hover {
    opacity: 1;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    animation-name: zoom;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  